# Django
DEBUG=True # Should be False in production
SECRET_KEY='your django secret key' # Generate your own key. You can google how lol!
ALLOWED_HOSTS=localhost,127.0.0.1   # Change in production to your Frontend's host

# Postgres Database
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD='your password'
DB_HOST=localhost
DB_PORT=5432


# Supabase => Create an account to obtain these creditials
SUPABASE_S3_ACCESS_KEY=your_access_key
SUPABASE_S3_SECRET_KEY=your_secret_key
SUPABASE_S3_ENDPOINT=your_endpoint
SUPABASE_S3_BUCKET=your_bucket
SUPABASE_S3_REGION=your_region
SUPABASE_CUSTOM_DOMAIN="your custom domain"


# JWT
ACCESS_TOKEN_LIFETIME=15  # 15 mins
REFRESH_TOKEN_LIFETIME=30 # 30 mins

# CORS
CORS_ALLOWED_ORIGINS="http://localhost:3000"   # Change in production to your Frontend's host

